<div class="header"> 
  <div class="heder-bottom">
    <div class="container">
      <div class="logo-nav">
        <div class="logo-nav-left">
          <h1><a routerLink="/home">Farm2Cook <span>BUY MEAT ONLINE</span></a></h1>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> 
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/home" routerLinkActive>Home</a></li>	
              <!-- Mega Menu -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop By Category<b class="caret"></b></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-3  multi-gd-img">
                      <ul class="multi-column-dropdown">                        
                        <li><a routerLink="/mutton">Mutton</a></li>
                        <li><a routerLink="/chicken">Chicken</a></li>
                        <li><a routerLink="/egg">Eggs</a></li>						
                      </ul>
                    </div>					
                    
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>	
              <li><a routerLink="/whyfarm2cook">Why Farm2Cook ?</a></li>								
              <li><a routerLink="/findus">Find Us</a></li>
            </ul>
          </div>
          </nav>
        </div>
        
        <div class="header-right2">
          <div class="cart box_1">
            <a routerLink="/checkout">
              <h3> <div class="total">
                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>0 items)</div>
                <img src="assets/images/bag.png" alt="" />
              </h3>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
          </div>	
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>