<app-header1></app-header1>
<app-header></app-header>
<div class="banner3">
  <div class="container">
    <h3><a routerLink="/home">Home</a> / <span>Egg</span></h3>
  </div>
</div>
<div class="content">
  <div class="products-agileinfo">
    <h2 class="tittle">Egg</h2>
    <div class="container">
      <div class="product-agileinfo-grids w3l">
        <div class="col-md-3 product-agileinfo-grid">
          <div class="categories">
            <h3>Categories</h3>
            <ul class="tree-list-pad">
              <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Egg</label>
                <ul>
                  <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Broiler Eggs </label></li>
                  <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Country Eggs</label></li>

                </ul>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-md-9 product-agileinfon-grid1 w3l">

          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
              <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                    aria-controls="home" aria-expanded="true"><img src="assets/images/menu1.png"></a></li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img
                      src="assets/images/menu.png"></a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                  <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/cegg.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>

                        <div class="women">
                          <h6> <a routerLink="/single">Country Chicken Eggs</a></h6>
                          <span class="size">5 Nos </span>
                          <p><del>Rs 40.00</del><em class="item_price">Rs 30.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/broileregg1.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Broiler Eggs</a></h6>
                          <span class="size">1 Nos </span>
                          <p><del>Rs 90.00</del><em class="item_price">Rs 50.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer1></app-footer1>
<app-footer></app-footer>