<app-header1></app-header1>
<app-header></app-header>
<div class="container">
  <br>
  <br>
   <h1> Why Farm2Cook</h1>  
   <br>


 <div style="font-size:17px ;">
    <li>
      Farm2Cook is India's first modern meat retail company for fresh proteins.Our mission is to redefine meat retailing in the country by delivering premium products and best-in-class
      customer service within a hygienic and convenient shopping environment.
    </li> <br>
    <li>
      Farm2Cook offers an unlimited choice of meats (poultry/lamb/eggs), cuts.Our exceptional range
      includes free-range chicken and goat.Based on a multi-conduit retail
      system, Farm2Cook brings the finest meats to your table. Our retail stores are modern, air-conditioned, hygienic
      and odorless creating an unmatched meat shopping experience. To facilitate customer convenience, we also employ
      an e-commerce platform, Android and IOS apps for online orders and call-centre based doorstep delivery.
    </li> <br>
    <li>
      The company follows a Farm to fork™ model under which stock is procured directly from farmers. Numerous checks
      are employed right from sourcing the meat to pre-cleaning, processing and maintaining freshness of the produce.
      Quality measures include cold chain technology for freshness, stringent processes of preparation, packaging, and
      storage to ensure high quality, hygienic products. Our in-house certified laboratory guarantees chemical and
      pesticide-free products. The quality of the meat and seafood conforms to HALAL, ISO, HACCP and FSSAI
      certification.
    </li> <br>
    <li>
      Farm2Cook is setting new benchmarks in the meat industry with its 10,000 sq. ft state-of-the-art central
      commissary for processing and distributing products to our stores. We Launched with three stores on September
      25th 2017, Opened two more stores in April 2018 and currently as on Oct 2018, we have thirteen stores across
      Chennai.
    </li> <br>
    <li>
      The company has a well-managed backward integration that eliminates the need for middlemen and ensures quality
      products at the right prices. The 350-member strong team is one of the biggest strengths behind the operation.
      They come with years of industry, retail and culinary expertise.
    </li> <br>
    <li>
      Farm2Cook's parent company SR-Marine is a pioneer in the seafood industry with a rich legacy spanning over three
      decades. A meat exporter that also supplies to five-star hotels, SR-Marine reported a turnover of over 140
      crore in 2018. Farm2Cook, benefitting from SR-Marine's™s exceptional logistics, cutting-edge technology and their
      expertise in the food services segment, is well set to revolutionise the meat retailing sector in India.
    </li> <br>
 
  </div>

  <div class="clearfix"></div>
</div>
<app-footer1></app-footer1>
<app-footer></app-footer>