<app-header1></app-header1>
<app-header></app-header>
<!--banner-->
<div class="banner1">
  <div class="container">
    <h3><a routeLink="/home">Home</a> / <span>Single</span></h3>
  </div>
</div>
<!--banner-->
<div class="content">
  <!--single-->
  <div class="single-wl3">
    <div class="container">
      <div class="single-grids">
        <div class="col-md-9 single-grid">
          <div clas="single-top">
            <div class="single-left">
              <div class="flexslider">
                <ul class="slides">
                  <li data-thumb="assets/images/si.jpg">
                    <div class="thumb-image"> <img src="assets/images/p5.jpg" data-imagezoom="true" class="img-responsive">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-right simpleCart_shelfItem">
              <h4>Mutton Boneless</h4>
              <p class="price item_price">Rs. 240.00</p>

              <div class="women">
                <span class="size">500 gms </span>
                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
              </div>
              <div class="social-icon">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
              </div>
              <!--Product Description-->
              <div class="product-w3agile">
                <h3 class="tittle1">Description</h3>
                <br><br>
                <p>
                  Lamb curry cut is tender, lean lamb meat cut from the front leg, shoulder and the ribs. Cut into
                  chunks and ready to cook into delectable curries, it is free of offal, sinew and cartilage.
                </p>
              </div>
              <!--Product Description-->
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>

    </div>
  </div>
  <!--single-->
  <div class="new-arrivals-w3agile">
    <div class="container">
      <h4 class="tittle1">TRENDING PRODUCTS</h4>
      <div class="arrivals-grids">
        <div class="col-md-3 arrival-grid simpleCart_shelfItem">
          <div class="grid-arr">
            <div class="grid-arrival">
              <figure>
                <a routerLink="/single">
                  <div class="grid-img">
                    <img src="assets/images/bb2.jpg" class="img-responsive" alt="">
                  </div>
                </a>
              </figure>
            </div>

            <div class="women">
              <h6><a routerLink="/single">Goat Leg</a></h6>

              <p><del>Rs. 100.00</del><em class="item_price">Rs. 80.00</em></p>
              <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 arrival-grid simpleCart_shelfItem">
          <div class="grid-arr">
            <div class="grid-arrival">
              <figure>
                <a routerLink="/single">
                  <div class="grid-img">
                    <img src="assets/images/goathead.jpg" class="img-responsive" alt="">
                  </div>

                </a>
              </figure>
            </div>

            <div class="women">
              <h6><a routerLink="/single">Goat Head</a></h6>

              <p><del>Rs. 150.00</del><em class="item_price">Rs. 70.00</em></p>
              <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 arrival-grid simpleCart_shelfItem">
          <div class="grid-arr">
            <div class="grid-arrival">
              <figure>
                <a routerLink="/single">
                  <div class="grid-img">
                    <img src="assets/images/m3.jpg" class="img-responsive" alt="">
                  </div>

                </a>
              </figure>
            </div>
            <div class="women">
              <h6><a routerLink="/single">Goat Curry Cut</a></h6>
              <p><del>Rs 150.00</del><em class="item_price">Rs. 90.00</em></p>
              <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 arrival-grid simpleCart_shelfItem">
          <div class="grid-arr">
            <div class="grid-arrival">
              <figure>
                <a routerLink="/single">
                  <div class="grid-img">
                    <img src="assets/images/m4.jpg" class="img-responsive" alt="">
                  </div>
                </a>
              </figure>
            </div>
            <div class="women">
              <h6><a routerLink="/single">Goat Thighs</a></h6>
              <p><del>Rs 200.00</del><em class="item_price">Rs 170.00</em></p>
              <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--new-arrivals-->
</div>
<app-footer1></app-footer1>
<app-footer></app-footer>