<div class="footer-w3l">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-3 footer-grid">
        <h4>ABOUT </h4>
        <p>Farm2Cook is India’s first modern meat retail company for fresh proteins.</p>
       
          <h5>Opening Hours:</h5>
        
        <p>MON - SAT : 08:00 AM - 08:00 PM
          SUNDAY : 07:00 AM - 08:00 PM </p>
        
      </div>
      <div class="col-md-3 footer-grid">
        <h4>MY ACCOUNT</h4>
        <ul>
          <li><a routerLink="/login">MY Account</a></li>
          <li><a routerLink="/login">FAQ's</a></li>
          <li><a routerLink="/findus">Contact Us </a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h4>INFORMATION</h4>
        <ul>
          <li><a routerLink="/whyfarm2kitchen">Why Farm2Cook ?</a></li>
          <li><a href="#">Cancellation Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a routerLink="/findus">Privacy Policy</a></li>
          
        </ul>
      </div>
      <div class="col-md-3 footer-grid foot">
        <h4>FOLLOW US</h4>
        <div class="social-icon">
          <a href="#"><i class="icon"></i></a>
          <a href="#"><i class="icon1"></i></a>
          <a href="#"><i class="icon2"></i></a>
          <a href="#"><i class="icon3"></i></a>
        </div>
      </div>
    <div class="clearfix"> </div>
    </div>
    
  </div>
</div>